<div class="page-employees-edit">
  <h1>Editing Employee</h1>

  <%= render partial: 'form', locals: {employee: employee} %>

  <div class="footer-links">
    <%= link_to 'Show', employee %> |
    <%= link_to 'Back', employees_path %>
  </div>
</div>
