<div class="page-employees-new">
  <h1>New Employee</h1>

  <%= render partial: 'form', locals: {employee: employee} %>

  <div class="footer-links">
    <%= link_to 'Back', employees_path %>
  </div>
</div>
