@import "variables/colors";

@mixin table-row {
  td {
    padding: 5px 0;
    border-top: 1px solid $grey-light;
    background-color: $grey-very-light;
  }

  &:last-child {
    td {
      border-bottom: 1px solid $grey-light;
    }
  }
}
