.page-home {
  .page-home_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #cccccc;
    width: 220px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
  }
}
